extends layout

block content
  h1= title

  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url) #{author.name}
          if author.DOD !== 'Invalid DateTime'
            | #{author.DOB} - #{author.DOD}
          else if author.DOB === 'Invalid DateTime'
            | Unknown - Present
          else
            | #{author.DOB} - Present
  else
    p There are no authors.


